/* c&c import/inherit */
.body-class{ 

    
     /*Added for admin */
     text-align: center;
     padding-top: 3%; 
     padding-bottom: 3%;
     padding-left: 15%; 
     padding-right: 15%;
     justify-content: center; 
   
    
    }
   
  /* Admin Specific  */

  h2{
    text-align: center; 
    font-weight: bolder;
    padding-top: 3%; 
  } 

  h4{
    text-align: center;
    padding-top: 3%;
    text-decoration: underline;
  } 
  h3{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    text-decoration: underline;
  } 

  .row{
    padding-top: 3%; 
    padding-left: 15%; 
    padding-right: 15%;
    justify-content: center;
  }

  /* .col-3{
    border: 1px solid rgb(61, 139, 135);
    font-size:medium;
    overflow:auto; 
  }

  .col-4{
    border: 1px solid rgb(61, 139, 135);
    font-size: large;
    
  } 

  h5{ 
    text-align: center; 
    font-weight: bolder;   
  } 
  Old Struct*/
  table{
    width:fit-content; /*Might need changing*/
    border: 5px solid rgb(61, 139, 135);
    font-size:medium;
    /* overflow:auto; */
    
  } 
  
  tr{
    border:inherit;
    padding-left: inherit;
    
  }
  td{
    border:inherit;
    font-weight:bolder;
    background-color:khaki; /* Ask if preferable */
    padding-left: inherit;
  }
  th{
    border:inherit;
    text-decoration: underline;
    background-color:khaki; /* Ask if preferable */
    padding-left: inherit;
  }
  .input-group{
    width:75%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 35%;
  }
  .form-check-label{
    font-weight:bolder;
    color:navy;
    background-color:peru; /* Temp, Ask if preferable */
  } 
  .form-check-inline{
    padding-bottom: 2%;
  } 
   /* img.resize{      Add Product Image? 
    background-color: inherit;
    width: 30%;
    height: auto;
    
  } */
  .load-form{
    width:75%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 5px solid navy;
    margin-left: 15%;
    
  } 
  .col-25 {
    width: 25%;
    margin-top: 6px;
 }

 .col-75  {
   width: 75%;
   margin-top: 6px;
 } 
 
 label	{
   display: inline-block;
   padding-right: 5%;
   text-decoration: underline;
   font-weight: bolder;
   background-color:limegreen;
 }
 .item-submit{
  width: 50%;
  font-weight:bolder;
  color:navy;
  background-color:peru;
}
.item-submit:hover{
    width: 50%;
    font-weight:bolder;
    color:navy;
    background-color:peru;
 } 
 .logout{
  width: 10%;
  font-weight:bolder;
  color:navy;
  background-color:peru;
}
.logout:hover{
    width: 10%;
    font-weight:bolder;
    color:navy;
    background-color:peru;
 }
  
  

  
