/* c&c import/inherit */
body{ 

    background-color: #f8d9de;
   
    background-image:url("images/c&c.h1.jpg");
    background-size: auto;
    background-origin:content-box;
     background-repeat: no-repeat;
     background-position: center;
     margin: auto;
   
    
    }
    p{
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
        font-weight:bolder;
        font-size: xx-large;
        color:rgb(255, 255, 255);
        font-family:serif;
        size: 20%;
        
      }
     
    .form-control{
    border-color: #553706c3;
    border-radius: 4px;
    border-width: 3px;
    
    }
    
    .card{
    background-color:rgba(255, 222, 173, 0.24);
     border-width:2px;
     border-radius: 2px;
     cursor:pointer;

    }
    .card img{
    border-radius:0px;
    }
    .btn-btn-primary{
        color: antiquewhite;
     }

     .list-group {
        border: 1px solid #000;

        background-color:rgba(255, 222, 173, 0.24);
       
       
    }
     .list-group-item {
        border: 1px solid #000;
        background-color:rgba(255, 222, 173, 0.24);
       
    }
    /* make sure everything is ok for btn changes */
    .list-group-item a {
        text-decoration: none;
        color: #000000;
        font-size: large;
        font-weight:initial;
        font-family:serif;
        background-color:rgba(255, 222, 173, 0.24);
        
    }
    
    .list-group-item a:hover {
        color: #ff65d6eb;
        background-color:rgba(255, 222, 173, 0.24);
    }
 .card-title{
  
    color:saddlebrown;
    font-weight: bolder;

    }
    .card-img-top{

        width: auto;
        height: 300px;
    }
  .card-text{
    color: rgb(75, 37, 9);
    font-size: 20px;
  }
  .card-weather{
    width: 5%;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    float: left;
  }
  .weather-icon{
    width: 50px;
    margin-top: 10px;
  }

  .card-weather h1{
    font-size:20px ;
    font-weight: 200;
  }
  .card-weather h2{
    font-size:15px ;
    font-weight: 100;
  } 

  /* Admin Specific  */

  h2{
    text-align: center; 
    font-weight: bolder
  } 

  h4{
    text-align: center;
    padding-top: 3%;
    text-decoration: underline;
  } 

  .row-admin{
    padding-top: 3%; 
    padding-left: 15%; 
    padding-right: 15%;
    justify-content: center;
  }

  .col-3{
    border: 1px solid rgb(61, 139, 135);
    font-size: large;
  } 

  .col-4{
    border: 1px solid rgb(61, 139, 135);
    font-size: large;
  }

