body{

    background-color: #f8d9de;
   
    background-image:url("תמונות/c&c.h1.jpg");
    background-size: auto;
    background-origin:content-box;
     background-repeat: no-repeat;
     background-position: center;
     margin: auto;
   
    
    }
/*form button{
    
}*/
    p{
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
        font-weight:bolder;
        font-size: xx-large;
        color:rgb(255, 255, 255);
        font-family:serif;
        size: 20%;
        
      }
     
    .form-control{
    border-color: #553706c3;
    border-radius: 4px;
    border-width: 3px;
    
    }
    
    .card{
    background-color:rgba(255, 222, 173, 0.24);
     border-width:2px;
     border-radius: 2px;
     cursor:pointer;

    }
    .card img{
    border-radius:0px;
    }
    .btn-btn-primary{
        color: antiquewhite;
     }

     .list-group {
        border: 1px solid #000;

        background-color:rgba(255, 222, 173, 0.24);
       
       
    }
     .list-group-item {
        border: 1px solid #000;
        background-color:rgba(255, 222, 173, 0.24);
       
    }
    /* make sure everything is ok for btn changes */
    .list-group-item a {
        text-decoration: none;
        color: #000000;
        font-size: large;
        font-weight:initial;
        font-family:serif;
        background-color:rgba(255, 222, 173, 0.24);
        
    }
    
    .list-group-item a:hover {
        color: #ff65d6eb;
        background-color:rgba(255, 222, 173, 0.24);
    }
 .card-title{
  
    color:saddlebrown;
    font-weight: bolder;

    }
    .card-img-top{

        width: auto;
        height: 300px;
    }
  .card-text{
    color: rgb(75, 37, 9);
    font-size: 20px;
  }