<!DOCTYPE html>
<html >
    <title>SpecialCookies</title>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
    body{
   background-color: antiquewhite;
    font-family: serif;
    font-weight: bolder;
   padding-bottom: 50px;
    }
    .sc{
    padding-top: 50px;
    color:saddlebrown;
    font-size: 25px;
     }
    </style>
</head>
<body style=" text-align: center">
    <h1 style="color: SaddleBrown "> Special Cookies </h1>
    <h2>
        Special cookie:
       <p> - Cookies filled with chocolate reese's with peanut butter</p> 
       <p> - Cookies filled with chocolate with pretzels</p>
       <p> - Cookies with colored candies</p> 
    <br />
    <hr />
    <br />
    <div>

    <il><img src="c&c.sc1.jpeg" height="300" width="300" /></il>
    <il><img src="c&c.sc2.jpeg" height="300" width="300" /></il>
    <il><img src="c&c.sc8.jpeg" height="300" width="300" /></il>
    <il><img src="c&c.sc4.jpeg" height="300" width="300" /> </il>
    <il><img src="c&c.sc7.jpeg" height="300" width="300" /></il>
   
   
  </div>
  <div class="sc">
    <form >
        <label>Choose the number of Reesse's cookies you want:</label>
        <p>
        <input type="number" id="quantity" name="quantity" min="1" max="20">
        <input type="submit" value="Select 6₪ per one ">
        </p>
        <label>Choose the number of pretzels cookies you want:</label>
        <p>
        <input type="number" id="quantity" name="quantity" min="1" max="20">
        <input type="submit" value="Select">
        </p>
        <label>Choose the number of colored candies cookies you want:</label>
        <p>
        <input type="number" id="quantity" name="quantity" min="1" max="20">
        <input type="submit" value="Select"> the price 5 per one</input>
        </p>
    </form>
  </div>
</body>
</html>





































